<div class="add_minute">
  <h3>Ajouter un compte-rendu</h3>
  <div class="minute-content">
    <%= simple_form_for [visit, minute] do |f| %>
      <%= f.input :content, label: false, input_html: { id: "speech", rows: 1} %>
      <%= button_tag type: 'submit', class: "btn btn-link p-0",   id: "speech-push" do %>
          <i class="fas fa-paper-plane"></i>
      <% end %>
    <% end %>
  </div>
</div>
