<div class="add_minute">
  <h3>Ajouter un compte-rendu</h3>
  <div class="minute-content">
    <%= simple_form_for(minute) do |f| %>
      <%= f.input :content %>
      <%= f.input :photos, as: :file %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
