<div class="header-home">
  <h1><%= "Hello #{current_user.get_full_name}" %></h1>
    <p><%= l Time.now, format: :long %></p>
</div>

<!--Call avatar.attach to attach an avatar to an existing user:-->
<!--Current.user.avatar.attach(params[:avatar])-->

<!--Display avatar with face dectection-->
<!-- <#%= cl_image_tag("IMAGE_WITH_FACE_ID", width: 150, height: 150, crop: :thumb, gravity: :face) %>-->
