<h1>Dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>


<!--Call avatar.attach to attach an avatar to an existing user:-->
<!--Current.user.avatar.attach(params[:avatar])-->

<!--Display avatar with face dectection-->
<!-- <#%= cl_image_tag("IMAGE_WITH_FACE_ID", width: 150, height: 150, crop: :thumb, gravity: :face) %>-->


