.time-line-card {
  display: flex;
}

.timeline {
  margin: 10px 0;
  margin-right: 10px;
  width: 50px;
  position: relative;
  p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .line-80 {
    height: 80%;
    border-left: 1px solid;
    margin: 0 15px;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .line-110 {
    height: 110%;
    border-left: 1px solid;
    margin: 0 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    position: absolute;
    top: -15px;
  }
}

.card-visit-home {
  height: 140px;
  margin: 10px 0;
  background-color: $orange;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.card-visit-home-info {
  height: 100%;
  width: 100%;
  padding: 15px;
  position: relative;
}

.card-visit-home a {
  text-decoration: none;
  color: white;
}

.card-visit-home p {
  margin: 0;
  font-size: 12px;
  font-family: $body-font;
}

.card-visit-home h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  font-family: $body-font;
}

.done {
  height: 100%;
  padding: 0 20px;
  border-left: solid 1px white;
  display: flex;
  justify-content: center;
  i {
  align-self: center;
  }
}

.not-done {
  background-color: white;
  color: $orange;
  height: 100%;
  padding: 0 20px;
  border: solid 1px $orange;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: center;
  i {
  align-self: center;
  }
}

.fa-times-circle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fa-circle:before {
  align-self: center;
  font-size: 20px;
}

.fa-check-circle:before {
  align-self: center;
  font-size: 20px;
}
