.footer-margin {
  margin-bottom: 50px;
}

.footer {
  display: flex;
  width: 100vw;
  height: 50px;
  justify-content: space-around;
  align-content: center;
  padding-top: 10px;
  margin-top: 2px;
  background-color: $light-gray;
  text-decoration: none;
  a {
    color: #333333;
  }
  i:link, a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #333333;
  }
  a:hover, {
    color: $orange;
  }
}


