.header-home {
  background-color: $orange;
  height: 141px;
}

.header-home h1 {
  position: absolute;
  width: 240px;
  height: 28px;
  left: 30px;
  top: 40px;

  font-family: $headers-font;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;

  color: white;
}

.header-home p {
  position: absolute;
  width: 240px;
  height: 16px;
  left: 30px;
  top: 72px;

  font-family: $headers-font;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;

  color: white;
}

.header-home .avatar-bordered {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;

  position: absolute;
  left: 74.72%;
  right: 11.11%;
  top: 6.25%;
  bottom: 85.94%;
}
