.header-day {
  padding: 10px;
  background-color: $body-bg;
  position:fixed;
  width:100%;
  top: 0;
}

.header-margin-visit-index {
  margin-top: 207px;
}

.header-day h3 {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}

.header-day .week {
  display:flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header-day a{
  text-decoration: none;
  color: $gray;
}

.header-day .day {
  margin: 10px 0;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  p {
    margin: 0;
    font-size: 12px;
  }
}

.active {
  background-color: $orange;
  p {
    color: white;
  }
}

#locomotion {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  font-size: 14px;
  padding: 5px;
  outline: none !important;
}
