// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "button";
@import "card_care";
@import "card_journey";
@import "card_visit";
@import "card_visit_home";
@import "care";
@import "devise_form";
@import "header_day";
@import "header_home";
@import "footer";
@import "last_minute";
@import "map";
@import "minute";
@import "navbar";
@import "patient_card";
@import "patient_header";
@import "patient_form";
@import "search_form";
