.minute-content{
  background-color: $mid-gray;
  color: $black;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  form{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    div.text{
      flex-grow: 1;
      margin: 0;
    }
    i{
      color: $orange;
      padding: 10px;
      font-size: 1.5rem;
      &:hover{
        color: $orange;
      }
    }
  }
}
