.add_minute h3 {
  font-size: 14px;
  font-weight: bold;
}

.background {
    background-color: $mid-gray;
    padding: 10px;
    border-radius: 16px;
    p {
    font-size: 14px;
    margin-right: 0px;
  }
  }

.minute-content{
  color: $black;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  p {
    font-size: 14px;
    margin-right: 0px;
  }
  img {
    width: 40px;
    border-radius: 50%;
    margin: 0 16px 16px 0;
  }
  form{
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    position: relative;
    div.text{
      flex-grow: 1;
      margin: 0;
    }
    i{
      color: $orange;
      padding: 10px 10px 10px 0px;
      &:hover{
        color: $orange;
      }
    }
    [type="file"] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      width: 1px;
    }
    .form-group{
      display: flex;
      margin-bottom: 0rem !important;
    }
    label {
      margin-bottom: 0px !important;
    }
    [type="file"]:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
    .btn-link {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
    }
  }
}

#speech {
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 10px;
}
