.minute-content{
  background-color: $mid-gray;
  color: $black;
  border-radius: 16px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
  form{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    div.text{
      flex-grow: 1;
      margin: 0;
    }
    i{
      color: $orange;
      padding: 10px;
      font-size: 1.5rem;
      &:hover{
        color: $orange;
      }
    }
    [type="file"] {
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      overflow: hidden;
      padding: 0;
      white-space: nowrap;
      width: 1px;
    }
    .form-group{
      display: flex;
      margin-bottom: 0rem !important;
    }
    label {
      margin-bottom: 0px !important;
    }
    [type="file"]:focus + label {
      outline: 1px dotted #000;
      outline: -webkit-focus-ring-color auto 5px;
    }
  }
}
