
<div class="card-journey">
  <%= link_to nil do %>
    <div class="card-journey-info">
      <p>Trajet
      <%= " depuis domicile" unless journey.start_user.nil? %>
      <%= " vers domicile" unless journey.end_user.nil? %>
      : <%= journey.get_pretty_infos %>
      </p>
    </div>
  <% end %>
  <div class="not-done">
    <i class="fas fa-check"></i>
  </div>
</div>
